<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.thegerman.sttt">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk tools:overrideLibrary="
    pm.gnosis.heimdall.accounts,
    pm.gnosis.heimdall.security,
    pm.gnosis.heimdall.common,
    pm.gnosis.heimdall.accounts.base,
    pm.gnosis.mnemonic,
    pm.gnosis.crypto,
    pm.gnosis.models,
    pm.gnosis.utils" />

    <application
        android:name=".StttApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="de.thegerman.sttt.ui.games.overview.OverviewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="de.thegerman.sttt.ui.games.details.DetailsActivity" />
        <activity android:name=".ui.account.setup.AccountSetupActivity" />
        <activity
            android:name=".ui.account.unlock.UnlockActivity"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
